

$secondary-color: white;
$font-base: 'Roboto' , sans-serif;
$font-heading: 'Playfair' , serif;
$font-size-title: clamp(2rem, 5vw, 4rem);
$font-size-text: clamp(1rem, 2vw, 1.25rem);



$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;